<% content_for :title do %>Featured Stories<% end %>
<%= render "layouts/side_bar" %>

<div class="row">
      <%= render 'featured_tales' %>
    </div>
  
    <style>
 .thumbnail{
 	margin-top: 20px;
 	}
 	</style>   

