<div class="container">
  <div class="row">
    <div class="span4" >
     <div class="col-md-4">			
		<%= image_tag "marjuk.jpg", height: "150px", width: "150px", class: "person-bio-page" %>
    </div>
    </div>
    <div class="span8">
    <div class="col-md-8" >			
      <p>Marjuk is cofounder and CEO of Ryte Club. Interested in building a platform that promotes shared creativity, Marjuk spends most of his time thinking and doing things that are going to delight Ryte Club users. Marjuk is a business and policy major at Green Mountain College, an environemntal liberal arts school in Vermont. Also a resident assistant, member of GMC Honors Society, and elected executive board member at Student Government, Marjuk founded GMC Entrepreneurship Club with his friend Sharif Tarver and serves now as the adviser to the president. </p>
		  
		<p> Marjuk aspires to experience enough of the both technology and art. Ryte Club is the reflection of the same dream--both technology and art of  collective story telling coming together. </p>
	  
	  

    </div>
    </div>
  </div>
</div>


<style>
.col-md-4 {
	width: 25%;

}
.col-md-8 {
	width: 50%;
}
.col-md-8 p{
	line-height: 1.6;

}
</style>