
<div class="container">
  <div class="row">
    <div class="span4" >
     <div class="col-md-4">			
		<%= image_tag "reza.jpg", height: "150px", width: "150px", class: "person-bio-page" %>
    </div>
    </div>
    <div class="span8">
    <div class="col-md-8" >			
     <p>Reza is cofounder and CTO of Ryte Club. He holds Bachelors in Computer Science and Engineering from Shahjalal University of Science and Technology. He has been a unix evangelist from his early teen and influenced by hacker culture. He is an avid reader and French language enthusiast. He loves to code in a dark room listening to loud music. He believes in a true amalgam of technology and art, where he hopes Ryte Club finds its place. </p> 
	 
	 <p> Although a former Samsung Electronics employee, Reza is fascinated with Apple technologies and delights in great designs of Apple products. Ruby programmer for last 5 years, Reza loves to spend most of his waking hours programming and building what matters with enough supply of veggie pizza and soda.
      <br />
      
    </div>
    </div>
  </div>
</div>

