<%= render "tales/navbar" %>

<% content_for :title do %>About Ryte Club<% end %>


<div class = "who-we-are">
<div class="about">
    
    <h1> Ryte Club: The Concept </h1> 
</div>



<script>

//

$(document).ready(function(){

$('p.questionP').mouseover(function(){

$(this).css('border-color','black');


});

$('p.questionP').mouseleave(function(){

$(this).css('border-color', '#dcdcdc');


});



$('p.show-me').hide();
$('p.show-me-1').hide();
$('p.show-me-2').hide();
$('p.show-me-3').hide();
$('p.show-me-4').hide();
$('p.show-me-5').hide();    

$('.clutch').click(function(){


    
    
    $('.show-me-1').hide('slow');
    $('.show-me-2').hide('slow');
    $('.show-me-3').hide('slow');
    $('.show-me-4').hide('slow');
    $('.show-me-5').hide('slow');
    $('.show-me').slideToggle();
});

//});
///

//$(document).ready(function(){

    

$('.clutch-1').click(function(){


    
    $('.show-me').hide('slow');
    $('.show-me-2').hide('slow');
    $('.show-me-3').hide('slow');
    $('.show-me-4').hide('slow');
    $('.show-me-5').hide('slow');
    $('.show-me-1').slideToggle();
});

//});

//$(document).ready(function(){

//$('p.show-me-2').hide();  

$('.clutch-2').click(function(){


    
    $('.show-me-1').hide('slow');
    $('.show-me').hide('slow');
    $('.show-me-3').hide('slow');
    $('.show-me-4').hide('slow');
    $('.show-me-5').hide('slow');
    $('.show-me-2').slideToggle();
});

//});

//$(document).ready(function(){

//$('p.show-me-3').hide();  

$('.clutch-3').click(function(){



    $('.show-me-1').hide('slow');
    $('.show-me-2').hide('slow');
    $('.show-me').hide('slow');
    $('.show-me-4').hide('slow');
    $('.show-me-5').hide('slow');
    $('.show-me-3').slideToggle();
});

//});

//$(document).ready(function(){

//$('p.show-me-4').hide();  

$('.clutch-4').click(function(){


    
    $('.show-me-1').hide('slow');
    $('.show-me-2').hide('slow');
    $('.show-me-3').hide('slow');
    $('.show-me').hide('slow');
    $('.show-me-5').hide('slow');
    $('.show-me-4').slideToggle();
});

//});

//$(document).ready(function(){

//$('p.show-me-5').hide();  

$('.clutch-5').click(function(){



    $('.show-me-1').hide('slow');
    $('.show-me-2').hide('slow');
    $('.show-me-3').hide('slow');
    $('.show-me-4').hide('slow');
    $('.show-me').hide('slow');
    $('.show-me-5').slideToggle();
});

});







</script>




<br/>
<br/> 


<div class="clutch"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61); border-radius: 5px; margin-bottom: 10px;width: 50%;"> What is Ryte Club?  </p>

 <p class="show-me" style="width: 50%;"> Ryte Club is a collaborative creation space. Our curious-minded scholars are able to collborate on creating stories and comics 
 (coming soon!) in our platform. Scholars and dreamers engage in creative endeavors on various projects such as creating an epic battle between Marvel Superheroes or writing together about their favorite spy heroes of war from past. </p> 

 <p class="show-me" style="width: 50%;"> Ryte Club facilitates creative imagination among your peers. Write with your friend that have similar interests with you. Create a project, work on it, and publish it on Ryte Club. </p>

 </div>




<div class="clutch-1"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61); border-radius: 5px; margin-bottom: 10px;width: 50%;"> How does collaboration happen in Ryte Club? </p> 
<p class ="show-me-1" style="width: 50%;"> You start writing a story. Then you invite one or many of your friends via email or Facebook notification to contribute to your story. There will be an outlining tool for brainstorming, allowing to discuss the direction of the project in future. 
</p> 
</div>


<div class="clutch-2"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61);  border-radius: 5px; margin-bottom: 10px;width: 50%;"> What type of contents can I create in Ryte Club? </p> 

<p class ="show-me-2" style="width: 50%;"> Since Ryte Club is a creative collaboration space, users should create contents where there is space for collaboration. For example, one user might start writing "The Greatest Spy Stories that You Have Never Heard of". In this story, one user may chronicle her favorite spy stories from WWII, while another user might chronicle writing spy stories from, say, Vietnam war. This way, we can create a massive collection of spy stories by collecting and combining creative intellects of the users in our platform.  
</p>


</div>



<div class="clutch-3"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61);  border-radius: 5px; margin-bottom:10px;width: 50%;"> What is the vision of Ryte Club? </p> 

<p class ="show-me-3" style="width: 50%;"> The vision of Ryte Club is to facilitate collective expression, collective thinking. To help our users think better, write better, and create better, together. </p> 

</div>



<div class="clutch-4"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61);  border-radius: 5px; margin-bottom:10px;width: 50%;"> Can I submit individual story only written by me? </p> 

<p class ="show-me-4" style="width: 50%;"> Yes, you can. We understand that sometimes we want to express only what we like. Like any other blog, you can publish your own writing in our platform.  </p>

</div>



<div class="clutch-5"> <p class="questionP" style="border: 3px solid #dcdcdc; text-align: center; color: rgb(76, 61, 61); border-radius: 5px; margin-bottom:10px;width: 50%;"> What other features are coming at Ryte Club? </p> 

<p class ="show-me-5" style="width: 50%;"> i) Inviting a friend via email or Facebook  who you think can contribute value to your creative piece. <br/>

ii) A comprehensive text-editor and drawing editor to illustrate your stories more comprehensively. <br/>
 

</p>



</div>


</div>




<style>
    
</style>