<%= render 'tales/navbar' %>
<div class='contact-us-page'>

<p> If you have any inquiry, please send it to the following email address:

admin@ryte.club  </p>

<p> Or you can tweet to us personally. 
<br />
Marjuk (@marjukahm) </br> 

Reza (@mrezaurrahman)

 </p>


 <style>

 .contact-us-page
  					{ 
  					 padding: 35vh 35vw;
					}

 p { 
 	 color: #000000;	
 	 font-size: 19px;
     font-family: "Oxygen", serif;
 }



</style>
