<%= render "tales/navbar" %>
<% content_for :title do %>The Team<% end %>






<div class="team">
	
	<h1> The Team </h1> 
<div class = "marjuk">
<%= render "pages/marjuk" %>
</div>

<div class = "reza">

<%= render "pages/reza" %>
</div>

</div>




<style>


</style>

