<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Welcome to Ryte Club</title>
  <style type="text/css">
  .divider { background-color:#555555; height:2px; }
  .welcome h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .welcome p { margin:8px 0; }
  .welcome img { border:solid 1px #777777; }
 
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header">
            <a href="http://ryte.club/">Welcome to Ryte Club</a>
          </td>
        </tr>
        <tr>
          <td class="divider"  bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="welcome">
          
          <td valign="top">
            <h2>Dear <%= @user.firstname %></h2>
            <p><a href = "http://ryte.club">Ryte Club</a> is a social literature platform that lets people write stories collaboratively. Continue expanding the plots of stories written by the users in our platform. Add a twist to the plot, introduce a new character, or continue the flow that is going to excite readers</p>
            
            <p>Ryte Club is here to rejoice life, giving you the tools that let you create with others. Ryte Club is here to delight in creativity, allowing collaboration and continuation of thoughts as you write stories. You mark the crossroads of reality reflecting all that you see at that moment. Sometimes you nudge aside the reality and sometimes you depict it reflecting disorder, despair, and defeat or that elusive love, joy, or hope—all within the imaginative work of reading and writing.</p>
             

             <p>Steal a cup of coffee and have your imaginative thoughts take over our canvas. Capture those moments that swish hot blood in your head and delight you wanting to take your readers’ attention prisoner. You are right now a part of divine act of creation. </p>

             <p>Welcome to our virtual Dead Poets Sociey. Do you hear the whisper?</p>

          </td>
        </tr>
        <tr>
          <td class="divider"  bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p>&copy;2014 Ryte Club</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>

