
.meta-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 226px;
    margin-left: 16%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    width: 69%;
    margin-top: 5%; 
}

.content-container {
    display: inline-block;
    height: 176px;
    margin-left: 2%;
    margin-top: -1%;
    position: relative;
    width: 96%;
}

p.story-title-wrapper {
   
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: "Crimson Text",Georgia,serif;
    font-size: 29px;
    font-weight: 100;
    line-height: 1;
    margin-left: 205px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 17px;
    position: absolute;
    margin-top: -26%; 

    

}
        p.author-name-homepage {
    

    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-family: "Oxygen",serif;
    font-size: 14px;
    font-weight: 100;
    left: 26%;
    
    
    margin-top: -7%;
    position: relative;
    top: -29%;



        }


  p.inline-button-homepage-div {

    display: block;
    margin-left: 24%;
    padding-left: 15px;
    position: relative;
    top: -30%; 

        }


  .wrapped-paragraph 

   { 

   width: 61%; 

   position: relative; 
   display: block; top: 2%; 
   left: 26%; 
   top: -66%; 
} 

  .wrapped-paragraph p {

        font-size: 18px;
        line-height: 1.1;
        font-family: "Oxygen", serif;
        font-weight: 100;
        color: rgba(0,0,0,0.3); 


  }



        .inline-button-homepage-div a {
            

            padding: 0px 15px 0px 0px; 
            color: rgba(0,0,0,0.8);
            text-decoration: none; 



        }

        .homepage-image-div  {

    
     border-radius: 2%;
    display: block;
    height: 200px;
    position: relative;
    width: 200px;


  }

  .homepage-tab-list  {

background-color: red;
    display: inline-block;
    height: 83px;
    position: relative;
    width: 340px;
    left: 40%;


  }





