.homepage-discover-button{
  position: absolute;
  margin: 3.9vh 48vw;
}




h1.brand-heading {
  color: #FFF;
  display: block;
  font-weight: 100;
  font-family: "calluna-sans",sans-serif;
  font-size: 7vw;
  position: relative;
  margin-top: 38vh;
  width: 50vw;
  margin-left: 47vw;
  margin-bottom: 6vh;
}




.intro-text {
  display: block;
  position: relative;
  font-size: 3vw;
  font-family: Lucida, sans-serif;
  font-weight: 100;
  margin-left: 28.5vw;
  color: #fff;
  width: 70vw;
  margin-top: -4vh;
}

.blurred-back{
      background-color: rgba(0,0,0,.5);
  margin-left: -12vw;
  width: 100%;
  padding-bottom: 100vh;
  padding-top: 1vw;
  padding-right: 400vw;
}
