.notification{

 position: relative;
    width: 100%;
    padding: 20px 40px 40px;
    text-align: center;
    background: transparent;
    border: 0px solid #ccc;
    display: block;
	overflow-x: hidden;
	overflow-y: hidden; 
    margin: 0px auto 15%;
    height: 90%;
}


 .journal{
        width: 100%;
        margin: 80px 0% 80px 0%; 
    }

.notification p{
    text-align: center;
   }

.notification h3{
    margin-left: 0%;
    text-align: center;
    margin-top: 6%;
   }

 .journal li{
    margin-left: 40%;
    text-align: left;
 }  
