 

<footer>
        <div class="container-footer">
        
        <%= link_to "Feedback",   contacts_path, class: "ryte-club-footer" %> 
        <%#= link_to "Team",   page_path('the_team'), class: "ryte-club-footer" %> 
        <%#= link_to "Terms",   page_path('about'), class: "ryte-club-footer" %> 
        <%= link_to "Contact",   page_path('contacts_footer'), class: "ryte-club-footer" %> 
        <%= link_to "FAQ",   page_path('about'), class: "ryte-club-footer" %> 
        



      </div>

</footer>

<style> 

</style>